.settings-card {
  width: 24rem;
}
.settings-option {
  color: black;
  float: right;
}
.remove-option:hover {
  color: red;
}
.edit-option:hover {
  color: green;
}
.list-group-item-action .settings-option {
  visibility: hidden;
  cursor: default;
}
.list-group-item-action:hover .settings-option {
  visibility: visible;
  cursor: pointer;
}
