<template>
  <div class="jumbotron">
    <h1 class="display-3">Active Directory Tools</h1>
    <p class="lead">A simple app to help the lay-admin make simple changes.</p>
    <hr class="my-4" />
    <p>
      Active directory status:
      <span id="adconnectionStatus" class="px-1">unknown</span>
    </p>
  </div>
  <div class="d-flex flex-wrap">
    <div id="basicDomainInfoCard" class="card m-3">
      <div class="card-header text-white bg-primary">Basic Domain Info</div>
      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Domain Name</td>
              <td><span id="adName"></span></td>
            </tr>
            <tr>
              <td>Domain Root</td>
              <td><span id="adDNSRoot"></span></td>
            </tr>
            <tr>
              <td>Forest</td>
              <td><span id="adForest"></span></td>
            </tr>
            <tr>
              <td>Domain Controllers</td>
              <td><span id="adDomainControllers"></span></td>
            </tr>
            <tr>
              <td>Domain Mode</td>
              <td><span id="adDomainMode"></span></td>
            </tr>
            <tr>
              <td>Child Domains</td>
              <td><span id="adChildDomains"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div id="bonusDomainInfoCard" class="card m-3">
      <div class="card-header text-white bg-secondary">Domain Statistics</div>
      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>Users in Domain</td>
              <td><span id="adUserTotal">204</span></td>
            </tr>
            <tr>
              <td>Total Disabled Users</td>
              <td><span id="adDisabledUserTotal">82</span></td>
            </tr>
            <tr>
              <td>Computers in Domain</td>
              <td><span id="adComputerTotal">137</span></td>
            </tr>
            <tr>
              <td>Total Disabled Computers</td>
              <td><span id="adDisabledComputerTotal">64</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
