<template>
  <div class="container template" id="newuser-template" data-tab="nusernew">
    <p class="h2">Create New User</p>
    <fieldset id="basicinfoform">
      <div class="form-group">
        <label for="nuGivenName" class=" control-label">
          Firstname
        </label>
        <input type="text" class="form-control" id="nuGivenName" />
      </div>
      <div class="form-group">
        <label for="nuSurname" class="control-label">
          Lastname
        </label>
        <input type="text" class="form-control" id="nuSurname" />
      </div>
      <div class="form-group">
        <label for="nuDirectoryName" class="control-label">
          Account Username
        </label>
        <input type="text" class="form-control" id="nuDirectoryName" />
      </div>
      <div class="form-group">
        <label for="nuCompany" class="control-label">
          Company
        </label>
        <select class="form-control" id="nuCompany">
          <option></option>
          <option>National Trade Supply</option>
          <option>National Filter Sales</option>
          <option>Midwest Purification</option>
        </select>
      </div>

      <div class="form-group">
        <label for="nuDepartment" class="control-label">
          Department
        </label>
        <select class="form-control" id="nuDepartment">
          <option></option>
          <option>Accounting</option>
          <option>Customer Service</option>
          <option>Human Resources</option>
          <option>IT</option>
          <option>Logistics</option>
          <option>Marketing</option>
          <option>Prepack/Production</option>
          <option>Receiving</option>
          <option>Sales</option>
          <option>Shipping</option>
        </select>
      </div>
      <div class="form-group">
        <label for="nuDescription" class="control-label">
          Description
        </label>
        <input type="text" class="form-control" id="nuDescription" />
      </div>
    </fieldset>
    <button class="btn btn-primary" id="btnCreateUser">Create</button>
    <button class="btn btn-warning" id="btnClearForm">Reset Form</button>
  </div>
  <script>
    require('./js/newuser.js');
  </script>
</template>
