<template>
  <div class="container-fluid">
    <p>
      Set values here which will be used to validate modifications to users.
    </p>
    <h2>Field Options</h2>
    <div class="d-flex flex-wrap">
      <div class="card m-3 settings-card">
        <div class="card-header text-white bg-primary">Options for Company</div>
        <div class="card-body">
          <div class="list-group" id="listCompanyOptions"></div>
          <hr />
          <button class="btn btn-success">Add New</button>
        </div>
      </div>
      <div class="card m-3 settings-card">
        <div class="card-header text-white bg-warning">
          Options for Department
        </div>
        <div class="card-body">
          <div class="list-group" id="listDepartmentOptions"></div>
          <hr />
          <button class="btn btn-success">Add New</button>
        </div>
      </div>
      <div class="card m-3 settings-card">
        <div class="card-header text-white bg-info">Options for Title</div>
        <div class="card-body">
          <div class="list-group" id="listTitleOptions"></div>
          <hr />
          <button class="btn btn-success">Add New</button>
        </div>
      </div>
      <div class="card m-3 settings-card">
        <div class="card-header text-white bg-secondary">
          Domains for Proxy Addresses
        </div>
        <div class="card-body">
          <div class="list-group" id="listProxyDomainOptions"></div>
          <hr />
          <button class="btn btn-success">Add New</button>
        </div>
      </div>
    </div>
  </div>
</template>
